body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px ;
    padding-right:  15px;
    margin-left:  auto;
    margin-right: auto;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav {
    display: flex;
    align-items: center; 
}

.navigation {
    display: flex;
    gap: 40px;
    margin-left: 76px;
    color: var(--navyblue, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-list {
    padding: 24px 0;
}

.nav a:hover,
.nav a:focus {
    color: var(--ocean, #404bbf);
}

.nav-link {
    color: var(--navyblue, #2e2f42);
}

.address {
    display: flex;
    gap: 40px;
    font-style: normal;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    
}

.address:hover,
.address:focus {
    color: var(--ocean, #404bbf);
}

.main-section-div {
 
    height: 224px;
    width: 1440px;
    
}

.main-section {
    background-color: var(--navyblue, #2E2F42);
    color: var(--white, #FFF);
    text-align: center;
    padding: 188px 0;
}

.main-title {
    color: var(--white, #FFF);
    font-size: 56px;
    font-weight: 700; 
    letter-spacing: 1.12px;
    line-height: 1.07;
    width: 496px;
    margin-right: auto;
    padding-bottom: 48px;
    margin-left: auto;
    max-width: 496px;

}

.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: var(--white, #FFF);
    background: var(--iris, #4D5AE5);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
.button:focus {
    background-color: var(--ocean, #404BBF);
}

.second-section {
    padding: 120px 0;
}

.second-section-div {
    flex-shrink: 0;
    justify-content: center;
}

.second-section-list {
    height: auto;
    display: flex;
    gap: 24px;
    
}

.second-section-list-item {
    width: calc((100% - 72px) / 4);
}

.second-section-title {
    margin-bottom: 8px;
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    
}

.second-section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}

.our-team {
    background-color: var(--cloud, #F4F4FD);
    padding: 120px 0;
}

.our-team-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    
}

.div-team-member-and-post {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-member {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px
}

.post {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.our-portfolio-main-title {
    margin-bottom: 72px;
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;
    text-transform: capitalize;
}

.our-portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.div-our-portfolio-title-and-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}


.our-portfolio-title {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.our-portfolio-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.upper-logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.upper-span {
    color: #2e2f42 ;
}

.lower-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block; 
    margin-bottom: 16px;
    
    
}

.lower-span {
    color: #f4f4fd
}

.footer {
    background-color: var(--navyblue, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: var(--cloud, #F4F4FD);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    width: 264px;
}

footer nav {
    color: var(--iris, #4D5AE5);
}

header nav {
    color: var(--iris, #4D5AE5);
}